body {
    background-color: #f0f0f0;
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 24px;
}

p {
    margin-bottom: 1em;
}

img {
    max-width: 100%;
}
